name: Deploy via SSH
on: [push]
jobs:
  deploy:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Pull GitHub repo via SSH
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script_stop: true
        script: |
          mkdir -p ~/powerday && cd ~/powerday
          export GIT_TERMINAL_PROMPT=0
          export GIT_ASKPASS="echo ${{ secrets.GITHUB_TOKEN }}"
          echo ${{ secrets.GITHUB_TOKEN }}
          git -C "${{ github.branch }}" pull origin ${{ github.ref }} || git clone ${{ github.repositoryUrl }} "${{ github.branch }}"
